<div class="t-bar">
        <div class="bar">
            <!-- id="header-1"-->
            <header>
                <div class="h-container">
                    <div class="h-item">
                        <div class="logo-placeholder">
                            <a class="no-select" href="#">
                                <img src="{{ url_for('static',filename='resources/vector/logo-template.svg') }}" alt="My Blog" height="30" width="150" />
                            </a>
                        </div>
                    </div>
                    <div class="h-item">
                        <nav>
                            <!-- <div class="search-button">
                                <a
                                    href="#"
                                    class="search-toggle"
                                    data-selector="#header-1"
                                ></a>
                            </div> -->
                            <ul class="nav-container">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"
                                    >Home</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/categories">Catagories</a>
                                    <ul>
                                        <li>
                                            <a href="#">Catagory 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Catagory 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Catagory 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/archives">Archives</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                            </ul>
                            <!-- <form action="" class="search-box">
                                <input
                                    type="text"
                                    class="text search-input"
                                    placeholder="Type here to search..."
                                />
                            </form> -->
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>