<!DOCTYPE html>

<html lang="en">
<head>
    <!-- title section -->
    <title>
        {{current_page}} - Murshid Suhaib's Website
    </title>

    <!-- meta section -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!-- meta section close -->

    <!-- link section -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <!-- <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap"
    /> -->
    <!-- link section close -->

    <!-- inline style section -->
    <style></style>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <!-- <script src="/js/source.js"></script> -->
</head>

<body>
<div class="body-container">

    {% include 'partials/header.html' %}
    <!-- central-content-container section -->
    <div class="content-container">
        <div class="body-content">
            <!-- <div class="breadcrum">
                <nav class="bc-nav">
                    <a href="#" class="bc">Home</a>
                    <a href="#" class="bc">Second Level</a>
                    <a href="#" class="bc">Page Name</a>
                </nav>
            </div> -->
            <div class="body-content-item">
                <article id="post-62" class="">
                    <header class="">
                        <h1 class="">
                            <a href="#" rel="bookmark"
                            >Adaptive Vs. Responsive Layouts And
                                Optimal Text Readability</a
                            >
                        </h1>
                    </header>

                    <footer class="entry-meta">
								<span class="post-category">
									posted in
									<a href="" rel="category tag"
                                    >Web Design</a
                                    >
								</span>
                        <span class="post-date">
									on
									<a href="#" title="2:06 pm" rel="bookmark">
										<time
                                                class="entry-date"
                                                datetime="2013-02-02T14:06:41+00:00"
                                        >
											February 2, 2013
										</time>
									</a>
								</span>
                        <span class="by-author">
									by
									<span class="author vcard">
										<a
                                                class="url fn n"
                                                href="#"
                                                title="View all posts by "
                                                rel="author"
                                        >
											Albert Einstein
										</a>
									</span>
								</span>

                        <span class="comments-link">
									<a href="#">4 Comments</a>
								</span>
                    </footer>

                    <div class="featured-image">
                        <a href="#">
                            <img
                                    src="http://themes.pixelwars.org/read-wp/wp-content/uploads/2013/01/blog-01-500x182.jpg"
                                    class=""
                                    alt=""
                                    srcset=""
                                    sizes="(max-width: 500px) 100vw, 500px"
                                    width="500"
                                    height="182"
                            />
                        </a>
                    </div>

                    <div class="entry-content clearfix">
                        <p>
                            Responsive web design offers us a way
                            forward, finally allowing us to design for
                            the ebb and flow of things. There are many
                            variations of passages of Lorem Ipsum
                            available, &nbsp;but the majority have
                            suffered alteration in some form, by
                            injected humour, or randomised words which
                            don’t look even slightly.
                        </p>
                        <p>
                            <a href="#" class="more-link"
                            >Continue reading<span class="meta-nav"
                            >→</span
                            ></a
                            >
                        </p>
                    </div>
                </article>

                <nav class="navigation" role="navigation">
                    <div class="nav-previous">
                        <a href="#">← Older posts</a>
                    </div>

                    <div class="nav-next"></div>
                </nav>

                <!-- central-content close -->
            </div>

            <div class="body-content-item">
                <!-- aside section -->
                <aside>
                    <p>
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nobis praesentium porro
                        consequuntur saepe blanditiis sequi eius quia
                        eos illum accusamus, dolore alias in quaerat,
                        voluptas tempore aspernatur voluptatum
                        voluptatem dolores.
                    </p>
                    <br/>
                    <p>
                        Pariatur adipisci perferendis quasi hic nostrum
                        quos exercitationem architecto labore nisi
                        distinctio unde eligendi dicta voluptates quam
                        culpa similique possimus, quo iusto et animi!
                        Animi architecto odio sed dicta enim?
                    </p>
                    <br/>
                    <p>
                        Cumque, incidunt? Cum mollitia incidunt
                        blanditiis amet ab recusandae non, rerum
                        praesentium id vel quibusdam neque quos cumque,
                        fugit rem assumenda! Iure ullam deserunt, veniam
                        rerum officia nulla eligendi totam?
                    </p>
                    <br/>
                    <p>
                        Aliquid, velit debitis hic facere ratione in
                        quia magnam alias illo, ducimus voluptates,
                        fugit quam. Eos voluptas possimus asperiores,
                        beatae similique odio nesciunt aut ad, cumque,
                        optio officia nobis corporis.
                    </p>
                    <br/>
                    <p>
                        Iure ad libero reprehenderit, sequi beatae
                        asperiores dolorem officia, alias, repudiandae
                        impedit nesciunt ducimus sunt reiciendis.
                        Dolorem laudantium odit, debitis veritatis
                        aspernatur architecto ullam, culpa quae dolorum
                        fuga tempora! Alias?
                    </p>
                    <!-- aside-container start -->
                </aside>
            </div>
        </div>

        <!-- central-content-container close -->
    </div>

    <div class="f-bar">
        <!-- footer section -->
        <footer class="bar">
            <!-- footer-container start -->
            <div class="f-container">
                <div class="f-item no-select">
                    <div class="logo-placeholder__footer">
                        <a id="logo" href="#">
                            <img
                                    src="{{ url_for('static',filename='resources/vector/logo-template.svg') }}"
                                    alt="My Blog"
                                    height="20"
                            />
                        </a>
                    </div>
                    <div class="author">
								<span>
									&#x00A9; 2020 A T O M<br/>By Suhaib Aslam
								</span>
                    </div>
                    <div class="author-info">
                        <h4>About Me</h4>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit. Id officiis placeat
                            corporis quia, voluptates harum quod
                            dignissimos eaque eligendi. Laboriosam sint
                            autem est, placeat dignissimos accusamus
                            possimus aliquam nobis laborum.
                        </p>
                    </div>
                </div>

                <div class="f-item information">
                    <div class="info-wrapper">
                        <h4>
                            Information
                        </h4>
                        <ul>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Cookie Policy</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="f-item connection">
                    <div class="subscribe">
                        <h4>Subscribe:</h4>
                        <span>
									Join our email list to get notifications
									about latest posts and more.
								</span>
                        <form id="form" class="subscribe-form" action="/form_submit">
                            <input
                                    class="searchTerm"
                                    placeholder="Email Address..."
                                    type="email"
                                    id="email"
                                    required
                            />
                            <input
                                    id="subscribe"
                                    class="button"
                                    type="submit"
                                    value="Subscribe"
                            />
                        </form>
                    </div>
                    <hr/>
                    <div class="socialize">
								<span class="socialmedia-item">
									<a href="#" class="sm"
                                    ><img
                                            src="{{ url_for('static',filename='resources/vector/fb.svg') }}"
                                            alt="Facebook"
                                            height="24"
                                            width="24"
                                    /></a>
								</span>
                        <span class="socialmedia-item">
									<a href="#" class="sm"
                                    ><img
                                            src="{{ url_for('static',filename='resources/vector/gh.svg') }}"
                                            alt="Facebook"
                                            height="24"
                                            width="24"
                                    /></a>
								</span>
                        <span class="socialmedia-item">
									<a href="#" class="sm"
                                    ><img
                                            src="{{ url_for('static',filename='resources/vector/li.svg') }}"
                                            alt="Facebook"
                                            height="24"
                                            width="24"
                                    /></a>
								</span>
                        <span class="socialmedia-item">
									<a href="#" class="sm"
                                    ><img
                                            src="{{ url_for('static',filename='resources/vector/tw.svg') }}"
                                            alt="Facebook"
                                            height="24"
                                            width="24"
                                    /></a>
								</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="copyright no-select">
				<span
                ><strong>&#x00A9;</strong> 2020 A T O M - All rights
					Reserved.</span
                >
        <br/>
        <span
        >&#x276E;&#x276F; with &#x2665; by Suhaib. Powred by
					Django.</span
        >
    </div>
</div>

<script>
    $(".header").on("click", ".search-toggle", function (e) {
        var selector = $(this).data("selector");

        $(selector)
            .toggleClass("show")
            .find(".search-input")
            .focus();
        $(this).toggleClass("active");

        e.preventDefault();
    });
    $(".subscribe-form").on("submit", function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        console.log($('#email').val());
    });
</script>
</body>
</html>
